# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\An3Sem1\PPDProjectClientServer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
